.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 Bien intangible: 
            | producto o bien que no es apreciable, no se puede tocar puede ser virtual o imaginario.
        hr

        p
            strong.mr-2 Bien tangible: 
            | producto o recurso que es apreciable, se puede tocar.

        hr

        p
            strong.mr-2 Honestidad: 
            | valor que hace referencia a la persona que dice la verdad.

        hr

        p
            strong.mr-2 Integridad: 
            | persona que hace lo correcto o considera correcto para los demás. 

        hr 
        
        p
            strong.mr-2 Patente: 
            | conjunto de derechos concedidos por el estado a un inventor de un producto. 

        hr 
        
        p
            strong.mr-2 Principio: 
            | fundamento, regla o política para el actuar de una persona.  


        hr 
        
        p
            strong.mr-2 Respeto: 
            | significa atención o consideración de una persona. 

        hr 
        
        p
            strong.mr-2 Responsabilidad: 
            | tomar decisiones de una forma consciente asumiendo consecuencias de los actos. 

        hr 
        
        p
            strong.mr-2 Valor: 
            | característica moral inherente a una persona.