include ../mixins/functions

.container

    .header-ecored
        h1 Referencias bibliográficas
 
    .jumbotron.bg-white.referencias
        +referenciaItem("CtgCoaching. (s.f.). Cinco pasos para el trabajo en equipo. Recuperado el 22 de julio de 2020, desde","https://ctgcoaching.com/cinco-pasos-para-el-trabajo-en-equipo/")

        +referenciaItem("Da Silva, K. (2018, septiembre). Tipos y ejemplos de recursos de una empresa. Recuperado el 22 de julio de 2020, desde","https://www.cuidatudinero.com/13714601/tipos-y-ejemplos-de-recursos-de-una-empresa")

        +referenciaItem("De gerencia.com. (s.f.). Qué es trabajar en equipo. Recuperado el 22 de julio de 2020, desde ","https://degerencia.com/tema/habilidades/trabajo-en-equipo/")

        +referenciaItem("Jauregui, A. (s.f.). Recursos de una empresa: Tipos y ejemplos reales. Recuperado el 22 de julio de 2020, desde ","https://www.lifeder.com/recursos-empresa/")

        +referenciaItem("Nicuesa, M. (2018, noviembre). Diferencia entre principios y valores humanos. Recuperado el 22 de julio de 2020, desde ","https://www.psicologia-online.com/diferencia-entre-principios-y-valores-humanos-4262.html")

        +referenciaItem("Randstad. (2016, mayo). El trabajo en equipo, la unión conlleva al éxito. Recuperado el 22 de julio de 2020, desde ","https://www.randstad.es/tendencias360/trabajo-en-equipo-la-union-conlleva-al-exito/")

        +referenciaItem("Torres, A. (s.f.). Los 10 tipos de valores: principios que rigen nuestras vidas. Recuperado el 22 de julio de 2020, desde ","https://psicologiaymente.com/psicologia/tipos-de-valores")


        .row.justify-content-between.align-items-center

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-picture-o.fa-2x.text-center
                        p.text-center.flex-grow-1 Fotografías y vectores tomados de <a href="https://www.shutterstock.com/" target="_blank">https://www.shutterstock.com/</a> y <a href="https://www.freepik.es/" target="_blank">https://www.freepik.es/</a>

            .col-12.col-md-5.my-4
                .jumbotron.p-4
                    .d-flex.justify-content-center.align-items-center
                        p.text-center.pl-4
                            i.fa.fa-creative-commons.fa-2x.text-center
                        p.text-center.flex-grow-1 Licencia Creative Commons <br> <strong>CC BY-NC-SA</strong><br> <a href="https://creativecommons.org/licenses/by-nc-sa/3.0/es/" target="_blank">Ver licencia.</a>            